.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
  min-width: 0;
}

.chat-input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .chat-input-container {
    padding: 10px;
  }

  .send-button {
    padding: 12px;
    margin-left: 0;
  }
}
